@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: #ebecee;
}

#navbar {
  color: white;
  background-color: rgb(13, 107, 184);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 2%;
}
#navbar input {
  font-size: 14px;
  padding: 3px 8px;
  border: none;
  width: 210px;
}
#navbar .icon {
  font-size: 34px;
}
.icon:hover {
  transform: rotate(360deg);
  transition: 01.1s;
}
#container {
  background-color: white;
  width: 650px;
  max-width: 94%;
  margin: 10vh auto 70px;
  padding: 42px 20px 45px;
  box-shadow: 4px 4px 15px 1px rgb(204, 202, 202);
  position: relative;
  border-radius: 5px;
}
#container h1 {
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
#alert-para {
  text-align: center;
  font-size: 10px;
  padding: 1.6px;
  width: 95%;
  top: 13px;
  left: 2.5%;
  border-radius: 1rem;
  position: absolute;
}

#input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
#input input {
  flex-grow: 1;
  font-size: 14px;
  padding: 1.5px 5px;
}
#input button {
  margin-left: 5px;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 0;
}

article div {
  display: flex;
  margin-top: 18px;
  align-items: center !important;
  justify-content: center;
  padding: 6px 7px;
  align-items: center;
  background-color: #f1f5f8;
  transition: box-shadow 0.25s ease-in-out;
  border-radius: 5px;
}
article div:hover {
  box-shadow: 2px 2px 15px 0px rgb(204, 202, 202);
}
article i {
  margin-left: 5px;
  font-weight: bold;
  color: red;
}
article p {
  flex-grow: 1;
  margin: 0;
  font-size: 14px;
}
p span {
  font-weight: bold;
}
.fa-edit {
  color: green;
  transform: translateY(1.5px);
}
